fastapi
uvicorn
pydantic
numpy
opencv-python-headless
pillow
transformers
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
pillow-heif
